  
    body{
        margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
        color:white;
    }
    
    
section {
	max-width: 100%;
	margin: 0px auto 20px auto;
}

.gradientfundo{
  height: 100vh;
  background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
}


#buttonp{
  border-radius: 30px;
  text-decoration: none;
  color: #00d0c5;
  border: 2px solid #00d0c5;
  height: 60px;
  line-height: 30px;
  padding: 7px;
  font-weight: bold;
}

#buttonp a:hover {
  text-decoration: underline;
  color: rgb(67, 209, 10);
  background-color: rgb(0, 0, 0);
 }
#buttonp a:visited{
  text-decoration: none;}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #00d0c5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
  background-color: #00e4bf;
}



.gradientfundo{
  height: 100vh;
  background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
}


    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }


 


